/**HEADER**/
.header {
  overflow: hidden;
  background-color: #444444;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a:hover {
  background-color: #444444;
  color: rgb(2, 137, 247);
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    /*display: block;*/
  }
  .header-right {
    float: none;
  }
}
/** **/
